{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ log.wiki.title }} | Wiki Logs{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/wikis.css' %}">
{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 offset-0 my-auto mx-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center black">{% trans "WIKI LOG DETAIL" %}</h1>
            </div>
            <div class="card-body black">
                <div class="card-body">
                    <p class="card-text">
                        {{ log.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}