{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Wiki Logs' %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
{% endblock %}
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 my-auto mx-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center black">{% trans "WIKI LOGS" %}</h1>
            </div>
            <div class="card-body black">
                <div class="table-responsive">
                    <table class="table table-striped" id="dtBasicExample">
                        <thead>
                            <tr>
                                <th scope="col">{% trans "Title" %}</th>
                                <th scope="col">{% trans "Author" %}</th>
                                <th scope="col">{% trans "Date Modified" %}</th>
                                <th scope="col">{% trans "Action" %}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                {% if log.wiki %}
                                <td><a href="{% url 'wikis:view' url=log.wiki.url %}">{{ log.wiki.title }}</a></td>
                                {% else %}
                                <td>{% trans 'Deleted Wiki' %}</td>
                                {% endif %}
                                {% if log.author %}
                                <td><a href="{% url 'accounts:detail' uid=log.author.uid %}">{{ log.author.get_full_name }}</a></td>
                                {% else %}
                                <td>{% trans 'Deleted Account' %}</td>
                                {% endif %}
                                <td>{{ log.date }}</td>
                                <td>{{ log.action }}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'wikis:logs_detail' uid=log.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}