{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Events' %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 my-auto mx-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center">{% trans "EVENTS" %}</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">UID</th>
                                <th scope="col">{% trans "Title" %}</th>
                                <th scope="col">{% trans "Start Date" %}</th>
                                <th scope="col">{% trans "End Date" %}</th>
                                <th scope="col">{% trans "Maximum No. Participants" %}</th>
                                <th scope="col">
                                    <a class="btn btn-sm btn-success" href="{% url 'events:create' %}?next={{ request.get_full_path }}">
                                        <i class="fas fa-plus fa-fw"></i>
                                    </a>
                                    <a class="btn btn-sm btn-info" href="{% url 'events:calendar' %}">
                                        <i class="fas fa-calendar-alt fa-fw"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr>
                                <td>{{ event.uid }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.start_date }}</td>
                                <td>{{ event.end_date }}</td>
                                {% if event.maximum_no_participants == -1 %}
                                <td>&#8734;</td>
                                {% else %}
                                <td>{{ event.maximum_no_participants }}</td>
                                {% endif %}
                                <td>
                                    <a class="btn btn-sm btn-info" href="{% url 'events:detail' uid=event.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                    <a class="btn btn-sm btn-warning" href="{% url 'events:edit' uid=event.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-pen fa-fw"></i></a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'events:delete' uid=event.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-trash fa-fw"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}