{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Delete Membership' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center">{% trans "DELETE MEMBERSHIP" %}</h1>
            </div>
            <div class="card-body">
                <form novalidate method="post">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        {% trans "Are you sure you want to delete this membership?" %}
                        <br>
                        {% trans "This action is irreversible." %}
                        <br>
                        <br>
                        {% trans "There will be no more charges related to this membership." %}
                    </div>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-danger card-btn">{% trans "Delete" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}