{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Memberships' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 my-auto mx-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center">{% trans "MEMBERSHIPS" %}</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">UID</th>
                                <th scope="col">{% trans "Member" %}</th>
                                <th scope="col">{% trans "Type" %}</th>
                                <th scope="col">{% trans "Active" %}</th>
                                <th scope="col">
                                    <a class="btn btn-sm btn-success" href="{% url 'memberships:create' %}?next={{ request.get_full_path }}">
                                        <i class="fas fa-plus fa-fw"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membership in memberships %}
                            <tr>
                                <td>{{ membership.uid }}</td>
                                <td>{{ membership.member }}</td>
                                <td>{{ membership.get_kind_display }}</td>
                                <td>{{ membership.is_active|yesno:"Yes,No" }}</td>
                                <td>
                                    <a class="btn btn-sm btn-info" href="{% url 'memberships:detail' uid=membership.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                    <a class="btn btn-sm btn-warning" href="{% url 'memberships:edit' uid=membership.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-pen fa-fw"></i></a>
                                    <a class="btn btn-sm btn-danger"
                                        href="{% url 'memberships:delete' uid=membership.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-trash fa-fw"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}