th, td {
    padding: 2px !important; 
}
p > a > img {
    max-width: 100% !important; 
    height: auto !important;
}
.container-fluid {
    min-height: 100vh;
    height: 100%;
}
.row {
    padding-top: 96px;
}
.row > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
