{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Boxes' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center">{% trans "BOXES" %}</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">UID</th>
                                <th scope="col">{% trans "Content" %}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for box in boxes %}
                            <tr>
                                <td>{{ box.uid }}</td>
                                <td>{{ box.content|truncatechars:32 }}</td>
                                <td>
                                    <a class="btn btn-sm btn-warning" href="{% url 'boxes:edit' uid=box.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-pen fa-fw"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}