{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ wiki.title }} | Wikis{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/wikis.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
            <div class="card text-white">
                <div class="card-header">
                    <h1 class="h4 text-center black">{% trans "TABLE OF CONTENTS" %}</h1>
                </div>
                <div class="card-body black">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-scroll">
                            <thead>
                                <tr>
                                    <form novalidate method="post">
                                        {% csrf_token %}
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="search" id="id_search" placeholder="Search">
                                            <div class="input-group-append" style="z-index: 0;">
                                                <button class="btn btn-primary" type="submit"><i class="fas fa-search fa-fw"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </tr>
                                <tr>
                                    <th scope="col" style="display: flex; justify-content: space-between;">
                                        Wikis
                                        <div>
                                            <a class="btn btn-sm btn-success" href=" {% url 'wikis:create' %}?next={{ request.get_full_path }}"><i
                                                    class="fas fa-plus fa-fw"></i></a>
                                            <a class="btn btn-sm btn-secondary" href="{% url 'wikis:logs' %}"><i class="fas fa-list fa-fw"></i></a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wiki in wikis %}
                                <tr>
                                    <td>
                                        <a href="{% url 'wikis:view' url=wiki.url %}">{{ wiki.title }}</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td class="text-center">
                                        <a>{% trans 'No results found' %}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9">
            <div class="card text-white">
                <div class="card-header">
                    <h1 class="h4 text-center black">{{ wiki.title }}</h1>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ wiki.content }}
                        <a class="btn btn-sm btn-info" href="{% url 'wikis:logs' %}?search={{ wiki.url }}">
                            <i class="fas fa-history fa-fw"></i>
                        </a>
                        <a class="btn btn-sm btn-warning" href="{% url 'wikis:edit' url=wiki.url %}?next={{ request.get_full_path }}">
                            <i class="fas fa-pen fa-fw"></i>
                        </a>
                        {% if wiki.url != 'home' %}
                        <a class="btn btn-sm btn-danger" href="{% url 'wikis:delete' url=wiki.url %}?next={% url 'wikis:view' url='home' %}">
                            <i class="fas fa-trash fa-fw"></i>
                        </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}