{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Delete Wiki' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1 my-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center black">{% trans "DELETE WIKI" %}</h1>
            </div>
            <div class="card-body black">
                <form novalidate method="post">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        {% trans "Are you sure you want to delete this wiki?" %}
                        <br>
                        {% trans "This action is irreversible." %}
                    </div>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-danger card-btn">{% trans "Delete" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}