{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 my-auto mx-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center">{% trans "ACCOUNTS" %}</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">UID</th>
                                <th scope="col">{% trans "First Name" %}</th>
                                <th scope="col">{% trans "Last Name" %}</th>
                                <th scope="col">{% trans "Email" %}</th>
                                <th scope="col">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in accounts %}
                            <tr>
                                <td>{{ account.uid }}</td>
                                <td>{{ account.first_name }}</td>
                                <td>{{ account.last_name }}</td>
                                <td>{{ account.email }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{% url 'accounts:detail' uid=account.uid %}"><i class="fas fa-eye fa-fw"></i></a>
                                    <a class="btn btn-sm btn-secondary"
                                        href="{% url 'accounts:password_change' uid=account.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-key fa-fw"></i></a>
                                    <a class="btn btn-sm btn-info"
                                        href="{% url 'accounts:permissions_edit' uid=account.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-atlas fa-fw"></i></a>
                                    <a class="btn btn-sm btn-warning" href="{% url 'accounts:edit' uid=account.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-pen fa-fw"></i></a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'accounts:delete' uid=account.uid %}?next={{ request.get_full_path }}"><i
                                            class="fas fa-trash fa-fw"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}